@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: Open Sans;
  padding: 0;
  margin: 0;
  color: #222222;
}

.off-screen_menu {
  /* background-color: black;
  height: 100vh;
  width: 100%;
  max-width: 525px;
  position: fixed;
  top: 0;
  left: -600px; */
  /* background-color: blueviolet; */
  width: 100%;
  max-width: 60%;
  height: 30px;
  margin: 0 auto;
  font-size: 16px;
}

.off-screen_menu.active {
  left: 0;
}

.content_off-screen_menu {
  /* padding: 0; */
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.content_off-screen_menu div {
  width: 11%;
  height: 50%;
  margin-bottom: 3px;
}

nav {
  margin: 0px 12px;
  display: flex;
  /* background-color: aqua; */
  height: 72px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.left-nav {
  width: 40%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.logo {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.logo img {
  width: 50px;
}

.right-nav {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: blue; */
  font-size: 13px;
}

i {
  font-size: 25px;
}

.right-nav_options {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
}

.ham-menu {
  height: 24px;
  width: 24px;
  margin-right: auto;
  position: relative;
  padding: 10px;
}

.ham-menu span {
  height: 1px;
  width: 50%;
  /* background-color: black; */
  border-radius: 10px;
  position: absolute;
  right: -10%;
  top: 70%;
  transform: translate(0, 5px);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 56%;
}

.ham-menu span:nth-child(3) {
  top: 85%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(525px, 350px) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(525px, 350px) rotate(-45deg);
}

main {
  /* background-color: blue; */
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}

.s-2024-1 {
  position: relative;
}

.summer-2024 img {
  width: 100%;
  margin-top: 20px;
}

.summer-2024 .text-over-img {
  position: absolute;
  top: 450px;
  left: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summer-2024 .text-over-img div {
  font-size: 80px;
  color: #fff;
  font-weight: 700;
}
.summer-2024 .text-over-img button {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600px;
  background-color: #fff;
  border: none;
  max-width: 120px;
}

footer {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.footer-1 {
  width: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer div {
  font-size: 14px;
  padding: 2px;
}

.footer p {
  font-size: 13px;
  margin-top: 70px;
}

.footer-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer-2 i {
  margin: 15px 20px;
}

.footer-3 {
  font-size: 11px;
  margin-bottom: 20px;
}

.footer-4 {
  margin-bottom: 20px;
}

.footer-4 img {
  width: 50px;
}

.footer-5 {
  font-size: 16px;
  font-weight: 700;
}
